<a href="https://colab.research.google.com/github/juencabe/Proyecto1/blob/main/Nuevo_ETL2_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importamos las librerias necesarias.
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
rating1 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/1.csv")
rating2 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/2.csv")
rating3 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/3.csv")
rating4 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/4.csv")
rating5 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/5.csv")
rating6 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/6.csv")
rating7 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/7.csv")
rating8 = pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/8.csv")

In [ ]:
rating8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [ ]:
#Concatenamos tablas
Total_ratings = pd.concat ([rating1, rating2, rating3, rating4,rating5, rating6, rating7, rating8], axis=0)

In [ ]:
Total_ratings.shape

(11024289, 4)

In [ ]:
Total_ratings.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [ ]:
#Sacamos el promedio de las calificaciones de las peliculas con el campos moviedId y el rating
promedio_peliculas = Total_ratings.groupby("movieId")["rating"].mean().round(1)

In [ ]:
#Unimos mediante las 2 tablas 
tabla_union = Total_ratings.join(promedio_peliculas, on="movieId", rsuffix="_avg")

In [ ]:
#Eliminamos duplicados
tabla_union = Total_ratings.drop_duplicates(subset="movieId", keep="first")

In [ ]:
#Vemos la tabla
Total_ratings.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [ ]:
# Verificamos la cantidad de filas y columnas
tabla_union.shape

(22998, 4)

In [ ]:
#Renombramos el campo rating por score
tabla_union = tabla_union.rename(columns={"rating":"score"})

In [ ]:
#Vemos la tabla
tabla_union.shape

(22998, 4)

In [ ]:
#Exportamos el csv
tabla_union.to_csv("/content/drive/MyDrive/Proyecto_Lab1/ratings/Total_ratings.csv", index=False)