<a href="https://colab.research.google.com/github/juencabe/Proyecto1/blob/main/Nuevo_ETL1_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INGENIERIA DE DATOS

PROCESO ETL

In [56]:
# Importamos las librerias necesarias para realizar el proceso ETL
import pandas as pd

In [57]:
# Importamos libreria para trabajar en Google Colaboratory
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
# Cargamos los archivos con la información correspondiente a las plataformas de streaming
dfam=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/amazon_prime_titles.csv")
dfdi=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/disney_plus_titles.csv")
dfhu=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/hulu_titles.csv")
dfne=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/netflix_titles.csv")

Requerimiento 1: Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [59]:
# Realizamos la codificación correspondiente para realizar esta modificación
dfam.insert(loc=0, column="id", value="a" + dfam["show_id"])
dfdi.insert(loc=0, column="id", value="d" + dfdi["show_id"])
dfhu.insert(loc=0, column="id", value="h" + dfhu["show_id"])
dfne.insert(loc=0, column="id", value="n" + dfne["show_id"])

In [60]:
# Verificamos la estructura de la información y que los cambios esten correctos
dfne.head(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [61]:
# Integramos en un solo archivo la información de las 4 plataformas
Total_df = pd.concat([dfam,dfdi,dfhu,dfne], axis=0)
Total_df.shape

(22998, 13)

Requerimiento 2: Los valores nulos del campo rating se deben reemplazar por el string “ G” (corresponde al rating de madurez: “general para todos los públicos”

In [62]:
#Revisamos los valores nulos del campo rating para reemplzarlo por "G"
Total_df["rating"].isnull().sum()

864

In [63]:
#Realizamos el reemplazo correspondiente de los valores nulos por el string G
Total_df["rating"].fillna("G", inplace=True)

In [64]:
#Revisamos que se haya realizado el cambio

Reqquerimiento 3: De haber fechas, debe tener el formato AAAA-mm-dd

In [65]:
#Revisamos en la base de datos a cual campo aplicar el cambio
Total_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [66]:
# Realizamos los cambios en el campo date_added
Total_df["date_added"] = pd.to_datetime(Total_df["date_added"])

In [67]:
#Verificamos que la información se haya actualizado
Total_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

Requerimiento 4: Los campos de texto deben estar en minúsculas , sin excepciones

In [68]:
#Realizamos los cambios en los campos correspondientes
Total_df.head()
Total_df["type"] = Total_df["type"].str.lower()
Total_df["title"] = Total_df["title"].str.lower()
Total_df["director"] = Total_df["director"].str.lower()
Total_df["cast"] = Total_df["cast"].str.lower()
Total_df["country"] = Total_df["country"].str.lower()
Total_df["rating"] = Total_df["rating"].str.lower()
Total_df["duration"] = Total_df["duration"].str.lower()
Total_df["listed_in"] =Total_df["listed_in"].str.lower()
Total_df["description"] = Total_df["description"].str.lower()

In [69]:
#Revisamos en la base de datos a que campos aplicar el cambio
Total_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

Requerimiento 5: El campo duracion debe convertirse en dos campos: duration_int y duration_type. El primero será un entero y el segundo una cadena indicando la unidad de medición de duración: min (minutos) o temporada (temporadas)

In [70]:
# Realizamos la separación en 2 campos del campo duración
splitcolumns = Total_df["duration"].str.split(" ", n=1, expand=True)

In [71]:
# Insertamos el campo duration_int en la tabla
Total_df["duration_int"] = splitcolumns[0]

In [72]:
# Insertamos el campo duration_type en la tabla
Total_df["duration_type"] = splitcolumns[1]

In [73]:
# Reemplazamos "seasons" por "season" en la columna "duration_type"
Total_df["duration_type"] = Total_df["duration_type"].str.replace("seasons", "season")

In [74]:
# Cambiamos el formato "duration_int" a integer
Total_df["duration_int"] = Total_df["duration_int"].astype("Int64")

In [75]:
# Verificamos la actualización de la información
Total_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [76]:
# Se borran las columnas que ya no agreguen valor
Total_df= Total_df.drop(columns=['show_id','duration'])
Total_df.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [77]:
# Realizamos una última revisión del archivo
Total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   listed_in      22998 non-null  object
 10  description    22994 non-null  object
 11  duration_int   22516 non-null  Int64
 12  duration_type  22516 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(1), object(10)
memory usage: 2.5+ MB

In [78]:
# Exportamos el archivo para posterior utilización
Total_df.to_csv('/content/drive/MyDrive/Proyecto_Lab1/TotalStream.csv',index=False)